.facility-and-sites-separator {
  margin-top: 30px;
}

.rcfd-style {
  margin: 10px 0 10px 40px;
  width: 60%;
}

.facility-and-sites-form-space {
  margin-bottom: 10px;
}

.facility-nav-padding > li > a {
  margin-top: 2px;
  padding: 6px 20px 6px 35px;
}

.settings-hr {
  border-bottom: 1px solid #ccc;
}

a.facility-site-setting-nav {
  background-color: $flat-midnight-blue;
  color: white;
}

