.inmate-details-container {
  h4 {
    margin-left: 5px;
  }
}

.inmate-activity-header {
  margin: 0;
}

.inmate-profile-covert-alerts {
  .covert-alert-number {
    font-size: 40px;
    font-weight: bold;
    line-height: 1em;
    margin-right: 5px;
  }

  .covert-alert-label {
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: -19px;
  }

  hr {
    margin: 10px 0;
  }
}

.inmate-debit-balance {
  font-size: 20px;
}

.inmate-profile-notes {
  padding-top: 5px;

  a.pull-right {
    font-size: 12px;
    margin-top: 5px;
  }
}

.expand-icon {
  transition: .5s;
}

.clicked {
  transform: rotate(-180deg);
}
