.page-header {
  background: linear-gradient($page-header, $page-header), url('../images/shared/brand/bg/page-header.jpg');
  background-position: 0px 500px;
  border: none;
  color: white;
  height: 70px;
  margin: 0;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  z-index: $page-header-z-index;
  @include box-shadow(0px 3px 2px 0px rgba(0, 0, 0, 0.2));

  .container {
    white-space: nowrap;
  }

  .title {
    float: left;
    white-space: nowrap;
  }

  .actions,
  .page-header-btn-group {
    float: right;
    margin-top: 19px;

    > * {
      display: inline-block;
      vertical-align: middle;
    }

    .btn {
      color: white !important;
    }
  }

  .media {
    overflow: initial;
    zoom: reset;
  }

  .media,
  .icon,
  .desc,
  .page-header-icon,
  h2 {
    display: inline-block;
    vertical-align: middle;
  }

  .icon,
  .page-header-icon {
    background-color: $white;
    border-radius: 50%;
    color: $gray;
    height: 48px;
    margin: 11px 10px 11px 0;
    text-align: center;
    vertical-align: top;
    width: 48px;

    .fa {
      margin-top: 9px;
    }
  }

  .desc,
  h2 {
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 0%;
    margin-top: 0;
    text-transform: uppercase;
    @include text-overflow();
  }

  h2.media {
    margin-left: 20px;
    margin-top: 10px;
    vertical-align: top;
  }

  //---- Styles for Headers with Photos e.g. Inmate Profile ----
  &.photo {
    .media,
    .photo {
      color: #121212;
      float: left;
      height: 0;
      margin-right: 20px;
      margin-top: 20px;
    }

    .title {
      width: 45%;
    }
  }
}

.fieldset {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 12px;
}

@media screen and (max-width: 480px) {
  .page-header {
    h2 {
      font-size: 2em;
    }
  }
}
