.section {
  margin-bottom: 20px;
}

.panel-no-record-selected {
  text-align: center;
}

.panel-border {
  border: 1px solid $brand-platinum;
}

.panel-heading {
  border-bottom: 0;

  &[class*=gray] {
    border-bottom: 1px solid #ddd;

    a {
      b {
        width: 100%;
      }
    }
  }

  b {
    display: inline-block;
    font-weight: bold;
    width: calc(100% - 30px);
    @include text-overflow();
  }
}

.panel-filters {
  .js-toggle-filters {
    font-size: .8em;
  }

  .panel-title {
    background-color: white;
    border-bottom: 0;
    border-top-left-radius: $border-radius-base;
    border-top-right-radius: $border-radius-base;
    padding: 8px;
  }

  .panel-body {
    padding: 0;
  }

  .filter-search input[type="text"],
  .filter-search input[type="search"] {
    border-radius: 0;
  }

  .panel-header {
    background-color: #eee;
    border-top: 1px solid #e0e0e0;
    color: $gray;
    font-size: 14px;
    font-weight: 500;
    margin: 0 auto;
    transition: background-color 150ms;

    a {
      color: inherit; //Use same color as .panel-header
      display: block;
      padding: 8px;

      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
      }
    }

    &.filtered {
      background-color: $brand-primary;
      color: $white;
    }

    .clear-filter-icon {
      display: none;
    }
  }
}

.panel-flex-container {
  display: flex;
  flex-wrap: wrap;

  > div,
  > [class],
  .panel {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;

    .table-panel {
      margin-bottom: 0px;
      margin-top: 0px;

      &table {
        width: 100%;
      }
    }

    .flex-child {
      height: 100%;
    }

    .panel-body {
      flex: 1 0 auto;
    }
  }
}

.panel-filter-summary {
  h3 {
    margin-top: 0;
  }

  h4 {
    margin-top: 0;
  }
}

.well {
  background: lighten($sui-gray, 67%);
  border: none;
  box-shadow: none;
  color: #333;
  font-weight: normal;
  padding: 10px;
  vertical-align: middle;
}

.securus-panel-style {
  background-color: white;
  @include box-shadow(0 1px 6px rgba(0, 0, 0, 0.175));

  &.securus-panel-padding {
    padding: 20px;

    + .section-header {
      padding-top: 0;
    }
  }
}

.settings-panel-details {
  list-style: none;
  margin: 5px 0 0;
  padding: 0;

  li {
    border-bottom: 1px solid #eee;
    display: block;
    padding: 4px 0;
    position: relative;

    i {
      margin-right: 5px;
      text-align: center;

      &.fa-check-circle {
        color: $brand-success;
      }
    }

    span.badge {
      float: right;
    }

    &:last-child {
      border-bottom: none;
    }

    &:first-child {
      margin-top: 10px;
    }
  }
}

.card {
  .panel-heading {
    border-bottom: 0;

    a {
      display: block;
    }

    b {
      display: inline-block;
      font-weight: bold;
      width: calc(100% - 30px);
      @include text-overflow();
    }

    span {
      display: inline-block;
    }
  }

  .panel-body {
    max-height: 140px;
  }

  .panel-footer {
    background-color: transparent;
    border-top: 1px solid $gray-lighter;
  }
}

//---------------------------------
// Emergency visit panel -Start
//---------------------------------
.emergency {
  &-body,
  &-heading,
  &-footer {
    background-color: white;
    border: 1px solid $gray-lighter;
    padding: 15px;
  }

  &-heading {
    background-color: #0074c8;
    color: white;
    padding-top: 5px;
  }

  &-body {
    border-bottom: none;
    border-top: none;
  }

  &-footer {
    .btn {
      @extend .btn-primary;
    }
  }

  &-disabled {
    .emergency-body,
    .emergency-footer {
      background-color: $body-bg;

      .btn {
        @extend .btn-default;
      }
    }

    .emergency-body {
      h4 {
        @extend .brand-gunmetal;
      }
    }

    .emergency-heading {
      background-color: $brand-gunmetal;
    }
  }
}

//---------------------------------
// Emergency visit panel -End
//---------------------------------
//---------------------------------
// Monitor visits filter bar -Start
//---------------------------------
.filter-bar {
  background-color: #0074c8;
  color: white;
  padding-top: 15px;
}

//---------------------------------
// Monitor visits filter bar -End
//---------------------------------
//---------------------------------
// Nav Icon badge -Start
//---------------------------------
.icon-badge {
  background: $brand-danger;
  left: -35px;
  position: relative;
  top: -20px;
}

//---------------------------------
// Nav Icon badge -End
//---------------------------------
.panel-default > .permission-panel-bg {
  background-color: $sui-link-color;
  border: none;
  color: $white;
}

.detail-panel-show {
  margin-top: -5px;

  span + span {
    display: none;
  }
}

.view-modified {
  font-size: 14px;
  font-style: italic;
  margin-top: 15px;
}

.view {
  .item {
    margin: 0 3px;
    padding: 2px 5px;

    &.active {
      background-color: $securus-primary-blue;
      border-radius: $border-radius-base;
      color: white;
    }
  }
}

.table-panel {
  tbody {
    tr {
      td:first-child {
        width: 50%;
      }
    }

    tr:first-child {
      td {
        border-top: none;
      }
    }
  }
}

.right-panel-style {
  background-color: $white;
  border-bottom: 1px solid #d4d4d4; // @include box-shadow(0 1px 6px rgba(0, 0, 0, 0.175));
  border-left: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
}

.right-panel-content {
  margin-top: 0;
  padding: 15px;
}

.right-panel-tab {
  background-color: $gray-lighter;
}

.panel-sidebar {
  background: #eee;

  h1 {
    border-bottom: 1px solid #ddd;
    color: #666;
    margin-bottom: 20px;
    margin-top: 5px;
    padding-bottom: 10px;
  }

  label {
    color: #888;
    font-weight: normal;
  }

  > .actions {
    margin-top: 30px;
  }
}

.panel-no-row-selected,
.panel-no-call-selected {
  border-color: lighten($sui-gray, 50%);
  color: lighten($sui-gray, 40%);
  display: none;
  margin: 20px;
  margin-top: 359px;
  text-align: center;

  p {
    margin: 0;
  }
}

.panel-group .panel-body {
  &:not(.visit-restriction-panel) {
    overflow-y: auto;
  }
}

.panel-action {
  background: $gray-lighter;
  margin: 12px 0;
  padding: 5px 15px;
}

.right-panel-content .panel-action {
  background-color: transparent;
}

// Fixed Panel
//
// For when we need to fix the right panel and keep it from scrolling
.fixed-right-panel {
  margin-left: 585px;
  position: fixed;
  width: 292px;
}

@media (max-width: $screen-lg-min) {
  .fixed-right-panel {
    margin-left: 480px;
    width: 242px;
  }
}

//---------------------------------
// Export tools dropdown -Start
//---------------------------------
.export-tools {
  min-height: 400px;
  min-width: 280px;
  padding: 0% 6px;

  .option-box {
    border: 1px solid #ddd;
    margin-bottom: 5px;
    margin-right: auto;
    margin-top: 15px;
    padding: 20px;

    i {
      min-width: 1em;
    }
  }

  .form-group {
    padding: 8px;
  }

  &:before,
  &:after {
    content: '';
    display: inline-block;
    position: absolute;
  }

  &:before {
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    right: 9px;
    top: -7px;
  }

  &:after {
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    right: 10px;
    top: -6px;
  }
}

.nav-pills {
  &.rounded > li > a {
    border-radius: 15px;
  }

  > li[class*=col-flex]+li {
    margin-left: auto;
  }
}

//---------------------------------
// Export MegaDropdown
//---------------------------------
.megadropdown {
  min-height: 240px;
  min-width: 700px;
  padding: 15px;

  input {
    display: none;
  }

  label {
    color: $brand-gunmetal;
    font-weight: 500;

    &:hover {
      color: $brand-slate;
    }

    &.is-disabled {
      color: $brand-platinum;
      cursor: not-allowed;

      &:hover {
        color: $brand-platinum;
      }
    }
  }

  input[type=checkbox]:checked+label {
    color: $brand-primary;
    font-weight: 600;
  }
}